*.obj
*.o
*.dll.manifest
*.exe.manifest
*.exe
*.ilk
*.exp
version.res
tests/*.pass
tests/*.bench
tests/pthread.h
tests/sched.h
tests/semaphore.h
tests/benchlib.o
tests/SIZES.*
tests/*.log
/.project
build/
